@inject ISnackbar Snackbar

<!-- Shows Errors -->
@for (int i = 0; i < mErrors.Count; i++)
{
    <div>@ShowError(mErrors[i])</div>
}

<!-- Shows Success Messages -->
@for (int i = 0; i < mSuccessMessages.Count; i++)
{
    <div>@ShowSuccess(mSuccessMessages[i])</div>
}

<!-- Shows overlay (disabling all input) when loading -->
@if(IsBusy)
{
    <MudOverlay Style="z-index: 9999" Visible="true" DarkBackground="true" />
}